@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        font-size: 1.5rem;
        text-align: center; 
        background: #393847;
    }

    .card {
        position: relative;
    }

    .card img {
        width: 100%;
        display: block;
        border: 2px solid white;
        border-radius: 6px;
    }

    .card .front {
        transform: rotateY(90deg);
        transition: all ease-in 0.3s;
        position: absolute;
    }

    .flipped .front {
        transform: rotateY(0deg);
        transition: 0.3s;
    }

    .card .back {
        transition: all ease-in 0.3s;
        transition-delay: 0.3s;
    }

    .flipped .back {
        transform: rotateY(90deg);
        transition: 0s;
    }
}